<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>First Ionic Application</h2></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides>
    <ion-slide>
      <div style="text-align: center">
        <ion-button size="default" (click)="goToLogin()">GET STARTED</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="text-align: center">
        <ion-button size="default" (click)="goToLogin()">GET STARTED</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="text-align: center">
        <ion-button size="default" (click)="goToLogin()">GET STARTED</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h5>FOOTER</h5></ion-title>
  </ion-toolbar>
</ion-footer>