ion-content p{
    font-size: medium;
  }
  
  ion-item{
    text-align: left !important;
  }
  
  h4{
    font-family: Impact, Haettenschweiler;
  }
  
  img {
    max-height: 25%;
    max-width: 25%;
    top:0 !important;
  }
  
  .divider{
      color: rgb(209, 184, 184)!important;
  }
  
  .center {
      max-height: 90%;
      min-width: 500px;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem
    }
    @media (max-width: 500px) {
      .center {
        min-width: 85%;
      }
    }
  
    .errorAlerts{
      color: red
    }