<!-- CONTENTS -->
<ion-content>
  <div class="center">
    <img src='../../assets/icon.png'>
    <h4>Reset Password</h4>
    <!-- INPUTS -->
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Email</ion-label>
      <ion-input inputmode="email" [(ngModel)]="email" [value]="clearEmail"></ion-input>
    </ion-item>
    <!-- INPUTS -->
    <!-- BUTTONS -->
    <ion-button id="login" expand="block" class="ion-margin-top" (click)="resetPassword()">RESET PASSWORD</ion-button>
    <h5 id="register" ><a (click)="goToLogin()">Go Back</a></h5>
    <!-- BUTTONS -->
  </div>
</ion-content>
<!-- CONTENTS -->

<!-- FOOTER -->
<ion-footer>
  <ion-title class="ion-text-center">
    <p>©</p>
  </ion-title>
</ion-footer>
<!-- FOOTER -->